.twelve.columns
  %h2 Account settings
  %p
    = link_to('Back to my profile', account_path)
  = render('shared/error_messages', target: @user)
.four.columns
  = form_for(@user, url: account_path) do |f|
    = render(partial: 'form', object: f)