%h2 New special day
%ul.add-bottom
  %li
    %a{ href: location_days_path(@location.id) }
      %i.icon-left-open Back to calendar
= render('shared/error_messages', target: @day)
= form_for(@day, url: location_days_path(@location.id)) do |f|
  = render(partial: 'form', object: f)