//= require_tree .
//= require_self

@font-face {
  font: {
    family: 'OpenSansRegular';
    weight: normal;
    style: normal;
  }

  src: asset-url('OpenSans-Regular-webfont.eot', font);
  src: asset-url('OpenSans-Regular-webfont.eot?#iefix', font) format('embedded-opentype'),
  asset-url('OpenSans-Regular-webfont.woff', font) format('woff'),
  asset-url('OpenSans-Regular-webfont.ttf', font) format('truetype'),
  asset-url('OpenSans-Regular-webfont.svg#OpenSansRegular', font) format('svg');
}

div.container {
  padding-top: 30px;
  color: #333;

  a {
    text-decoration: none;
  }
}

.flow {
  margin: 30px 0 15px;
}

header {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;

  nav {
    ul {
      float: right;
      margin-top: 45px;

      li {
        display: inline;
        margin-left: 20px;
      }
    }
  }
}

footer {
  padding-top: 30px;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 12px;
  margin-top: 15px;
}

.errors {
  ul {
    list-style: disc inside;
     .error {
      color: #c71031;
      font-weight: bold;
      font-size: 13px;
    }
  }
}

ul.side-nav {
  li {
    a {
      width: 180px;
      height: 20px;
      padding: 10px;
      display: block;
      color: #9dcd5b;
    }

    a.active {
      color: #fff;
      background: #9dcd5b;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

ul.flashes {
  margin-bottom: 30px;
}

span.flash {
  .notice {
    color: #c4aa00;
  }

  .success {
    color: #107ec7;
  }

  .error {
    color: #c71031;
  }
}