%h2 Edit category
%ul.add-bottom
  %li
    %a{ href: categories_path }
      %i.icon-left-open Back to all categories
= render('shared/error_messages', target: @category)
= form_for(@category, url: category_path(@category.id)) do |f|
  = render(partial: 'form', object: f)